{%- if cart.item_count > 0 -%}
  <h1>{{ 'cart.general.title' | t }}</h1>
  <div id="cart-app"></div>
{%- else -%}
  <h2>{{ 'cart.general.title' | t }}</h2>
  <p>{{ 'cart.general.empty' | t }}</p>
{%- endif -%}