{% layout 'password' %}

<div>
  <h1>{{ 'general.password_page.title' | t }}</h1>

  {% form 'storefront_password' %}
    <input
      type="password"
      name="password"
      placeholder="{{ 'general.password_page.password_placeholder' | t }}"
    />
  {% endform %}
</div>