{%- layout 'password' -%}

<div class="text-center">
  <img src="{{ 'logo.svg' | asset_url }}" alt="logo" class="display-block width-100" style="max-width: 300px;" />

  {% form 'storefront_password' %}
    {{ form.errors | default_errors }}

    <div class="input-group">
      <input autofocus class="input-group-field" type="password" name="password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
      <div class="input-group-button">
        <button type="submit" class="button" name="commit">{{ 'general.password_page.login_form_submit' | t }}</button>
      </div>
    </div>
  {% endform %}
</div>