{%- layout 'password' -%}

<div class="text-center text-white links-white font-lighter">
  <img src="{{ 'logo-shape.svg' | asset_url }}" alt="logo" class="display-block width-100 margin-horizontal-auto" style="max-width: 240px;" />

  <h1 class="h3 font-lighter margin-vertical-2">{{ 'general.password_page.title' | t }}</h1>
  <div class="margin-vertical-1">{{ 'general.password_page.signup_form.title' | t }}</div>

  {%- include 'mailchimp-prelaunch-form' -%}
</div>