<h1>{{ product.title }}</h1>

{%- for variant in product.variants -%}
  <span>{{ variant.title }}</span>
  <button class="button" type="button" data-add-to-cart-id="{{ variant.id }}">Add to cart</button>
{%- endfor -%}
