<div class="nav-snippet-shift-large">
  <h1>{{ product.title }}</h1>

  {% for variant in product.variants %}
    <div>
      <a data-add-to-cart="{{ variant.id }}">{{ variant.title }}</a>
    </div>
  {% endfor %}
</div>
