<div class="nav-snippet-shift-large">
  <h1>{{ product.title }}</h1>

  {% for variant in product.variants %}
    <div>
      <button class="button" data-add-to-cart="{{ variant.id }}">
        {{ 'products.product.add_to_cart' | t }} - {{ variant.price | money }}
      </button>
    </div>
  {% endfor %}
</div>
