<a href="#" class="{{ class }}" style="{{ style }}" data-open-drawer="cart-drawer">
  {{ 'bag-icon.svg' | asset_url | img_tag: 'cart' }}
  <div class="circle-1-25 h7 bg-cornflower-lilac text-white position-absolute flex-container align-center align-middle" data-cart-count style="bottom: -5px; right: -5px;"></div>
</a>