<div class="grid-x">
  <div class="cell shrink">
    menu
  </div>

  <div class="cell auto text-center">
    <a href="/">{{ shop.name }}</a>
  </div>

  <div class="cell shrink">
    cart
  </div>
</div>