<div class="grid-x">
  <div class="cell shrink">
    <a data-toggle="nav-drawer">Menu</a>
  </div>

  <div class="cell auto text-center">
    <a href="/">{{ shop.name }}</a>
  </div>

  <div class="cell shrink">
    <a data-toggle="cart-drawer">Cart</a>
  </div>
</div>