<div class="grid-x">
  <div class="cell shrink">
    <button data-toggle="nav-drawer">Menu</button>
  </div>

  <div class="cell auto text-center">
    <a href="/">{{ shop.name }}</a>
  </div>

  <div class="cell shrink">
    cart
  </div>
</div>