<form action="https://launched.us19.list-manage.com/subscribe/post?u=21a1371508b0846204bd0cc8f&amp;id=de82cfd853" method="post" target="_blank" novalidate>
  <div class="margin-horizontal-auto" style="max-width: 316px;">
    <div class="input-group">
      <input
        autofocus
        class="bordered border-glacier input-group-field"
        type="email"
        name="EMAIL"
        placeholder="{{ 'general.password_page.signup_form.email_placeholder' | t }}"
        style="border-width: 2px;">
      <div class="input-group-button">
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_21a1371508b0846204bd0cc8f_de82cfd853" tabindex="-1" value="">
        </div>
        <input
          type="submit"
          class="button bordered border-glacier bg-cornflower-blue text-hoki"
          name="subscribe"
          style="border-width: 2px 2px 2px 0;"
          value="{{ 'general.password_page.signup_form.submit' | t }}" />
      </div>
    </div>
  </div>
</form>