<div class="drawer left bg-cornflower-lilac links-white" id="nav-drawer">
  <div class="grid-x">
    <div class="cell auto">
      <a href="#" data-close-drawer="nav-drawer">Close</a>
    </div>

    <div class="cell shrink">
      <a href="/">
        <img src="{{ 'logo.svg' | asset_url }}" alt="logo" style="width: 130px;">
      </a>
    </div>
  </div>

  <div class="position-relative" style="top: -100px;">
    {%- include 'main-menu' -%}
  </div>
</div>