<div class="links-mine-shaft grid-y align-justify grid-frame nav-snippet">
  <a href="/" class="bg-cornflower-lilac padding-vertical-2 text-center display-block">
    <img src="{{ 'logo.svg' | asset_url }}" alt="logo" style="height: 215px;">
  </a>

  {%- include 'main-menu' -%}
</div>