@font-face {
  font-family: 'Oakes Grotesk';
  font-weight: 300;
  src: url('../../assets/fonts/Oakes\ Grotesk\ Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Oakes Grotesk';
  font-weight: normal;
  src: url('../../assets/fonts/Oakes\ Grotesk\ Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Oakes Grotesk';
  font-weight: bold;
  src: url('../../assets/fonts/Oakes\ Grotesk\ SemiBold.ttf') format('truetype');
}
