<div>
  {%- for product in collections[section.settings.collection].products -%}
    <div>
      <h2>
        <a href="{{ product.url }}">{{ product.title }}</a>
      </h2>
    </div>
  {%- endfor -%}
</div>

{% schema %}
  {
    "name": "Featured Collection",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured Collection",
        "category": "Collections"
      }
    ]
  }
{% endschema %}