<div class="bg-cornflower-lilac grid-x">
  <div class="cell large-6">
    <div>{{ 'layout.footer.newsletter_title' | t }}</div>
    <div>{{ 'layout.footer.newsletter_body' | t }}</div>
  </div>

  <div class="cell large-6 grid-x">
    <div class="cell medium-6 large-3">
      {%- include 'footer-menu', title_key: 'layout.footer.menu_titles.account', menu: linklists.footer, accordion: 'footer' -%}
    </div>

    <div class="cell medium-6 large-3">
      {%- include 'footer-menu', title_key: 'layout.footer.menu_titles.shop', menu: linklists.footer-shop-menu, accordion: 'footer-shop' -%}
    </div>

    <div class="cell medium-6 large-3">
      {%- include 'footer-menu', title_key: 'layout.footer.menu_titles.company', menu: linklists.footer-company-menu, accordion: 'footer-company' -%}
    </div>

    <div class="cell medium-6 large-3">
      {%- include 'footer-menu', title_key: 'layout.footer.menu_titles.connect', menu: linklists.footer-connect-menu, accordion: 'footer-connect' -%}
    </div>
  </div>
</div>