<div class="grid-x">
  <div class="cell shrink">
    <a href="#" data-open-drawer="nav-drawer">
      Menu
    </a>
  </div>

  <div class="cell auto text-center">
    Logo
  </div>

  <div class="cell shrink">
    {%- include 'cart-button' unless request.path == '/cart' -%}
  </div>
</div>