<div class="grid-x">
  <div class="cell shrink">
    <a href="#" data-open-drawer="nav-drawer">
      Menu
    </a>
  </div>

  <div class="cell auto text-center">
    <a href="/">{{ shop.name }}</a>
  </div>

  <div class="cell shrink">
    {%- unless request.path == '/cart' -%}
      {%- include 'cart-button', class: 'position-relative display-block' -%}
    {%- endunless -%}
  </div>
</div>